USE [BusTicketBooking]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 26/03/2025 21:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[BusID] [int] IDENTITY(1,1) NOT NULL,
	[BusNumber] [nvarchar](20) NOT NULL,
	[BusType] [nvarchar](50) NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusSeats]    Script Date: 26/03/2025 21:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusSeats](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[BusID] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[SeatType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 26/03/2025 21:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 26/03/2025 21:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentTime] [datetime] NULL,
	[Method] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 26/03/2025 21:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[StartLocation] [nvarchar](100) NOT NULL,
	[EndLocation] [nvarchar](100) NOT NULL,
	[DistanceKM] [decimal](6, 2) NULL,
	[EstimatedTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 26/03/2025 21:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[RouteID] [int] NOT NULL,
	[BusID] [int] NOT NULL,
	[DepartureTime] [datetime] NOT NULL,
	[ArrivalTime] [datetime] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 26/03/2025 21:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[BookingTime] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/03/2025 21:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsAdmin] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([BusID], [BusNumber], [BusType], [TotalSeats], [Status]) VALUES (1, N'51A-12345', N'Giường nằm', 40, N'Đang hoạt động')
INSERT [dbo].[Buses] ([BusID], [BusNumber], [BusType], [TotalSeats], [Status]) VALUES (2, N'29B-67890', N'Ghế ngồi', 30, N'Đang hoạt động')
INSERT [dbo].[Buses] ([BusID], [BusNumber], [BusType], [TotalSeats], [Status]) VALUES (3, N'43C-11223', N'Limousine', 20, N'Đang hoạt động')
SET IDENTITY_INSERT [dbo].[Buses] OFF
GO
SET IDENTITY_INSERT [dbo].[BusSeats] ON 

INSERT [dbo].[BusSeats] ([SeatID], [BusID], [SeatNumber], [SeatType]) VALUES (1, 1, 1, N'Thường')
INSERT [dbo].[BusSeats] ([SeatID], [BusID], [SeatNumber], [SeatType]) VALUES (2, 1, 2, N'Thường')
INSERT [dbo].[BusSeats] ([SeatID], [BusID], [SeatNumber], [SeatType]) VALUES (3, 1, 3, N'Thường')
SET IDENTITY_INSERT [dbo].[BusSeats] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackID], [UserID], [ScheduleID], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, 1, 5, N'Dịch vụ tốt, đi đúng giờ', CAST(N'2025-03-26T21:25:32.673' AS DateTime))
INSERT [dbo].[Feedbacks] ([FeedbackID], [UserID], [ScheduleID], [Rating], [Comment], [CreatedAt]) VALUES (2, 2, 1, 4, N'Xe sạch sẽ, tài xế thân thiện', CAST(N'2025-03-26T21:25:32.673' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [TicketID], [Amount], [PaymentTime], [Method], [Status]) VALUES (1, 1, CAST(120000.00 AS Decimal(10, 2)), CAST(N'2025-03-26T21:25:28.453' AS DateTime), N'VNPay', N'Thành công')
INSERT [dbo].[Payments] ([PaymentID], [TicketID], [Amount], [PaymentTime], [Method], [Status]) VALUES (2, 2, CAST(120000.00 AS Decimal(10, 2)), CAST(N'2025-03-26T21:25:28.453' AS DateTime), N'Momo', N'Chờ xử lý')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([RouteID], [StartLocation], [EndLocation], [DistanceKM], [EstimatedTime]) VALUES (1, N'Hà Nội', N'Hải Phòng', CAST(120.50 AS Decimal(6, 2)), CAST(N'02:30:00' AS Time))
INSERT [dbo].[Routes] ([RouteID], [StartLocation], [EndLocation], [DistanceKM], [EstimatedTime]) VALUES (2, N'Hồ Chí Minh', N'Cần Thơ', CAST(170.00 AS Decimal(6, 2)), CAST(N'03:00:00' AS Time))
INSERT [dbo].[Routes] ([RouteID], [StartLocation], [EndLocation], [DistanceKM], [EstimatedTime]) VALUES (3, N'Đà Nẵng', N'Huế', CAST(100.00 AS Decimal(6, 2)), CAST(N'02:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([ScheduleID], [RouteID], [BusID], [DepartureTime], [ArrivalTime], [Price]) VALUES (1, 1, 1, CAST(N'2025-04-01T08:00:00.000' AS DateTime), CAST(N'2025-04-01T10:30:00.000' AS DateTime), CAST(120000.00 AS Decimal(10, 2)))
INSERT [dbo].[Schedules] ([ScheduleID], [RouteID], [BusID], [DepartureTime], [ArrivalTime], [Price]) VALUES (2, 2, 2, CAST(N'2025-04-01T09:00:00.000' AS DateTime), CAST(N'2025-04-01T12:00:00.000' AS DateTime), CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[Schedules] ([ScheduleID], [RouteID], [BusID], [DepartureTime], [ArrivalTime], [Price]) VALUES (3, 3, 3, CAST(N'2025-04-02T07:00:00.000' AS DateTime), CAST(N'2025-04-02T09:00:00.000' AS DateTime), CAST(100000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [ScheduleID], [UserID], [SeatNumber], [BookingTime], [Status]) VALUES (1, 1, 1, 5, CAST(N'2025-03-26T21:25:23.553' AS DateTime), N'Đã thanh toán')
INSERT [dbo].[Tickets] ([TicketID], [ScheduleID], [UserID], [SeatNumber], [BookingTime], [Status]) VALUES (2, 1, 2, 6, CAST(N'2025-03-26T21:25:23.553' AS DateTime), N'Đã đặt')
INSERT [dbo].[Tickets] ([TicketID], [ScheduleID], [UserID], [SeatNumber], [BookingTime], [Status]) VALUES (3, 2, 1, 10, CAST(N'2025-03-26T21:25:23.553' AS DateTime), N'Đã đặt')
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PhoneNumber], [PasswordHash], [IsAdmin], [CreatedAt]) VALUES (1, N'Nguyễn Văn A', N'a@gmail.com', N'0909123456', N'password1', 0, CAST(N'2025-03-26T21:25:04.867' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PhoneNumber], [PasswordHash], [IsAdmin], [CreatedAt]) VALUES (2, N'Trần Thị B', N'b@gmail.com', N'0911123456', N'password2', 0, CAST(N'2025-03-26T21:25:04.867' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PhoneNumber], [PasswordHash], [IsAdmin], [CreatedAt]) VALUES (3, N'Admin', N'admin@bus.com', N'0900000000', N'admin', 1, CAST(N'2025-03-26T21:25:04.867' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buses__41D29185C2122E86]    Script Date: 26/03/2025 21:29:53 ******/
ALTER TABLE [dbo].[Buses] ADD UNIQUE NONCLUSTERED 
(
	[BusNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534C0A8B296]    Script Date: 26/03/2025 21:29:53 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Buses] ADD  DEFAULT (N'Đang hoạt động') FOR [Status]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentTime]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [BookingTime]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (N'Đã đặt') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BusSeats]  WITH CHECK ADD FOREIGN KEY([BusID])
REFERENCES [dbo].[Buses] ([BusID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedules] ([ScheduleID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD FOREIGN KEY([BusID])
REFERENCES [dbo].[Buses] ([BusID])
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedules] ([ScheduleID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
